@font-face {
    font-family: 'Comfortaa';
    src: url('Comfortaa-Bold.eot');
    src: url('Comfortaa-Bold.eot?#iefix') format('embedded-opentype'),
        url('Comfortaa-Bold.woff2') format('woff2'),
        url('Comfortaa-Bold.woff') format('woff'),
        url('Comfortaa-Bold.ttf') format('truetype'),
        url('Comfortaa-Bold.svg#Comfortaa-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

